@media all and (max-width: 1024px) {
  body {
    background-color: #f0f0f0;
  }

  .font_12 {
    font-size: 10px;
  }

  .font_14 {
    font-size: 12px;
  }

  .font_16 {
    font-size: 14px;
  }

  .font_18 {
    font-size: 16px;
  }

  .news_main {
    margin: 7% 18% 12% 18%;
  }
}

@media all and (max-width: 960px) {
  .font_12 {
    font-size: 9px;
  }

  .font_14 {
    font-size: 11px;
  }

  .font_16 {
    font-size: 13px;
  }

  .font_18 {
    font-size: 15px;
  }

  .news_header {
    width: 7%;
  }

  .news_main {
    margin: 7% 16% 14% 16%;
  }
}

@media all and (max-width: 800px) {
  .font_14 {
    font-size: 10px;
  }

  body {
    margin: 0;
  }

  .news_main {
    margin: 7% 14% 12% 14%;
  }

  .news_image {
    margin: 0 15%;
  }

  .triangle_left {
    border-top: 16px solid transparent;
    border-right: 20px solid #f0f0f0;
    border-bottom: 16px solid transparent;
  }

  .triangle_right {
    border-top: 16px solid transparent;
    border-left: 20px solid #f0f0f0;
    border-bottom: 16px solid transparent;
  }
}

@media all and (max-width: 768px) {
  .font_12 {
    font-size: 8px;
  }

  .font_16 {
    font-size: 12px;
  }

  .font_18 {
    font-size: 14px;
  }
}

@media all and (max-width: 640px) {
  .font_12 {
    font-size: 7px;
  }

  .font_14 {
    font-size: 9px;
  }

  .font_16 {
    font-size: 11px;
  }

  .font_18 {
    font-size: 13px;
  }

  .news_header {
    width: 9%;
  }

  .news_main {
    margin: 7% 12% 11% 12%;
  }

  .news_image {
    margin: 0 13%;
  }
}

@media all and (max-width: 480px) {
  .font_12 {
    font-size: 6px;
  }

  .font_14 {
    font-size: 7px;
  }

  .font_16 {
    font-size: 10px;
  }

  .font_18 {
    font-size: 12px;
  }

  .triangle_left {
    border-top: 12px solid transparent;
    border-right: 15px solid #f0f0f0;
    border-bottom: 16px solid transparent;
  }

  .triangle_right {
    border-top: 12px solid transparent;
    border-left: 15px solid #f0f0f0;
    border-bottom: 12px solid transparent;
  }
}

@media all and (max-width: 411px) {
  .font_12 {
    font-size: 5px;
  }

  .font_14 {
    font-size: 6px;
  }

  .font_16 {
    font-size: 9px;
  }

  .font_18 {
    font-size: 10px;
  }

  .news_main {
    margin: 7% 10% 10% 10%;
  }
}

@media all and (max-width: 375px) {
  .news_main {
    margin: 7% 9% 10% 9%;
  }
}

@media all and (max-width: 320px) {
  .font_16 {
    font-size: 8px;
  }

  .font_18 {
    font-size: 8px;
  }
}
